.boardContainer {
  width: 55%;
  border: 2px solid green;
  margin: 55px auto 10px auto;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.readyButton {
  margin: 0px auto;
  text-align: center;
}

.readyButton button {
  width: 25%;
  height: 45px;
  font-size: 25px;
  border: 2px solid black;
}

.readyButton button:hover {
  background-color: red;
}
