@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Aref+Ruqaa');

.gameContainer {
  position: relative;
}

.boardContainer {
  width: 55%;
  margin: 55px auto 10px auto;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.checkPointButtons {
  margin: 0px auto;
  text-align: center;
}

.checkpointButtons span, .checkpointButtons button {
  width: 55%;
  height: 45px;
  font-size: 25px;
  border: none;
  background-color: #000;
  color: white;
  font-family: 'Aref Ruqaa', serif;
}

.checkpointButtons button:hover {
  color: red;
  border-radius: 5px;
}
