body {
  border: 2px solid black;
  width: 75%;
  margin: 0 auto;
  background-color: #0b032d;
  color : white;
}

.heading {
  text-align: center;
}

#root {
  width: 80%;
  height: 75%;
  margin: 60px auto;
  border: 2px solid red;
}
